.conttab{
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 5vh;
}
.contit{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    width: 85%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 3vh;
    padding: 8px;
    font-weight: 600;
}
.contit:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.conttab h2{
    color : #f4952d;
}
.tot{
    margin-left: auto;
    color: red;
}
.ordti{
    background-color: #f4952d;
    color: white !important;
}
@media (max-width: 768px) {
    .conttab{
        margin-left: 0px;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-top: 5vh;
    }
    .contit{
        width: 100%;
    }
}